* {
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  gap: 42px;
}
.chart_title {
  margin: 8px 0px;
  text-align: center;
  color: #fff;
}
